@page "/registro-paciente"
@using Microsoft.AspNetCore.Components.Forms

<nav class="navbar  navbar-light bg-black">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/registro-paciente">Registro Enfermo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro-diagnostico">Registro Diagnóstico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/garantia">Garantía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/medicos-tratantes">Médicos Tratantes</a>
            </li>
        </ul>
    </div>
</nav>

<EditForm Model="@registroPaciente">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />

    <div class="container">
        <div class="row">
            <div class="col-4">
                <label>Secuencia HO:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.SecuenciaHO" />
            </div>
            <div class="col-4">
                <label>No. Historia:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.NoHistoria" />
            </div>
            <div class="col-4">
                <label>Fecha y Hora Ingreso:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.FechaHoraIngreso" />
            </div>
            <div class="col-4">
                <label>Código de Barras:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.CodigoBarras" />
            </div>
            <div class="col-4">
                <label>Procedencia:</label>
                <InputSelect class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Procedencia" TValue="int">
                    <option value="Ambulancia">Ambulancia</option>
                    <option value="Normal">Normal</option>
                </InputSelect>
            </div>
        </div>
      </div>
        
     <div class="container">
        <div class="row">
            <h3 class="text-muted mb-4">Detalles de Hospitalización</h3>
            <div class="col-4">
                <label>Presupuesto:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Presupuesto" />
            </div>
            <div class="col-4">
                <label>Paciente:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Paciente" />
            </div>
            <div class="col-4">
                <label>Habitación:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Habitacion" />
            </div>
            <div class="col-4">
                <label>Estancia Aprox.:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.EstanciaAprox" />
            </div>
            <div class="col-4">
                <label>Hora de Corte:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.HoraCorte" />
            </div>
            <div class="col-4">
                <label>Paquete de Atención:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.PaqueteAtencion" />



            </div>
            <div class="col-4">
                <label>Estado:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Estado" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3 class="text-muted mb-4">Datos del Responsable</h3>
            <div class="col-4">
                <label>Nombre:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.NombreResponsable" />
            </div>
            <div class="col-4">
                <label>Dirección:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.DireccionResponsable" />
            </div>
            <div class="col-4">
                <label>Documento:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.DocumentoResponsable" />
            </div>
            <div class="col-4">
                <label>Teléfono:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.TelefonoResponsable" />
            </div>
        </div>
    </div>

    <!-- Datos del Aval -->
    <div class="container">
        <div class="row">
            <h3 class="text-muted mb-4">Datos del Aval</h3>
            <div class="col-4">
                <label>Aval 1:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Aval1" />
            </div>
            <div class="col-4">
                <label>Aval 2:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Aval2" />
            </div>
            <div class="col-4">
                <label>Aval 3:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Aval3" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h4 class="text-muted mb-4">Plan de Atención</h4>
            <div class="col-4">
                <label>Plan:</label>
                <InputSelect class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Plan">
                    <option value="AseguradoDirecto">Asegurado Directo</option>
                    <option value="Coasegurado">Dependiente</option>
                </InputSelect>
            </div>
            <div class="col-4">
                <label>Abertura Máxima:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.AberturaMaxima" />
            </div>
            <div class="col-4">
                <label>Coaseguro %:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Coaseguro" />
            </div>
            <div class="col-4">
                <label>Deducible:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Deducible" />
            </div>
        </div>
    </div>

    <!-- Otros Datos -->
    <div class="container">
        <div class="row">
            <h4 class="text-muted mb-4">Otros Datos</h4>
            <div class="col-4">
                <label>Documento Asociado:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.DocumentoAsociado" />
            </div>
            <div class="col-4">
                <label>Siniestro:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Siniestro" />
            </div>
            <div class="col-4">
                <label>Referencia 1:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Referencia1" />
            </div>
            <div class="col-4">
                <label>Referencia 2:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Referencia2" />
            </div>
            <div class="col-4">
                <label>Placa No:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPaciente.PlacaNo" />
            </div>
           <div class="row">
                <div class="col-4">
                    <label>Observaciones:</label>
                    <InputTextArea class="form-control border-0 border-bottom" @bind-Value="registroPaciente.Observaciones" />
                </div>
           </div>
             

        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg px-5">Guardar</button>
    </div>
</EditForm>

@code {
    private RegistroPaciente registroPaciente = new RegistroPaciente();

    public class RegistroPaciente
    {
        public string TipoAtencion { get; set; }
        public string SecuenciaHO { get; set; }
        public string NoHistoria { get; set; }
        public string FechaHoraIngreso { get; set; }
        public string CodigoBarras { get; set; }
        public int Procedencia { get; set; }  
        public string Presupuesto { get; set; }
        public string Paciente { get; set; }
        public string Habitacion { get; set; }
        public string EstanciaAprox { get; set; }
        public string HoraCorte { get; set; }
        public string PaqueteAtencion { get; set; }
        public string Estado { get; set; }
        public string NombreResponsable { get; set; }
        public string DireccionResponsable { get; set; }
        public string DocumentoResponsable { get; set; }
        public string TelefonoResponsable { get; set; }
        public string Aval1 { get; set; }
        public string Aval2 { get; set; }
        public string Aval3 { get; set; }
        public string Plan { get; set; }
        public string AberturaMaxima { get; set; }
        public string Coaseguro { get; set; }
        public string Deducible { get; set; }
        public string Observaciones { get; set; }
        public string DocumentoAsociado { get; set; }
        public string Siniestro { get; set; }
        public string Referencia1 { get; set; }
        public string Referencia2 { get; set; }
        public string PlacaNo { get; set; }
    }
}
