@page "/registro-paciente"
@using SoftClinix.Models
@using SoftClinix.Services
@inject RegistroPacienteService registroPacienteService
@using Microsoft.AspNetCore.Components.Forms

<nav class="navbar  navbar-light bg-black">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/registro-paciente">Registro Enfermo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro-diagnostico">Registro Diagnóstico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/garantia">Garantía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/medicos-tratantes">Médicos Tratantes</a>
            </li>
        </ul>
    </div>
</nav>

<EditForm Model="@registroPacienteService.CurrentRegistro">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />

    <!-- Información del paciente -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label>Secuencia HO:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.SecuenciaHO" />
            </div>
            <div class="col-4">
                <label>No. Historia:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.NoHistoria" />
            </div>
            <div class="col-4">
                <label>Fecha y Hora Ingreso:</label>
                <InputDate class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.FechaHoraIngreso" TValue="DateTime" />
            </div>
            <div class="col-4">
                <label>Código de Barras:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.CodigoBarras" />
            </div>
            <div class="col-4">
                <label>Procedencia:</label>
                <InputSelect class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Procedencia" TValue="string">
                    <option value="Ambulancia">Ambulancia</option>
                    <option value="Normal">Normal</option>
                </InputSelect>
            </div>
        </div>
    </div>

    <!-- Detalles de Hospitalización -->
    <div class="container">
        <div class="row">
            <h3 class="text-muted mb-4">Detalles de Hospitalización</h3>
            <div class="col-4">
                <label>Presupuesto:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Presupuesto" />
            </div>
            <div class="col-4">
                <label>Paciente:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Paciente" />
            </div>
            <div class="col-4">
                <label>Habitación:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Habitacion" />
            </div>
            <div class="col-4">
                <label>Estancia Aprox.:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.EstanciaAprox" />
            </div>
            <div class="col-4">
                <label>Hora de Corte:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.HoraCorte" />
            </div>
            <div class="col-4">
                <label>Paquete de Atención:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.PaqueteAtencion" />
            </div>
            <div class="col-4">
                <label>Estado:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Estado" />
            </div>
        </div>
    </div>

    <!-- Plan de Atención -->
    <div class="container">
        <div class="row">
            <h4 class="text-muted mb-4">Plan de Atención</h4>
            <div class="col-4">
                <label>Plan:</label>
                <InputSelect class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Plan" TValue="string">
                    <option value="AseguradoDirecto">Asegurado Directo</option>
                    <option value="Coasegurado">Dependiente</option>
                </InputSelect>
            </div>
            <div class="col-4">
                <label>Abertura Máxima:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.AberturaMaxima" />
            </div>
            <div class="col-4">
                <label>Coaseguro %:</label>
                <InputNumber class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Coaseguro" TValue="decimal" />
            </div>
            <div class="col-4">
                <label>Deducible:</label>
                <InputNumber class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Deducible" TValue="decimal" />
            </div>
        </div>
    </div>

    <!-- Datos del Responsable -->
    <div class="container">
        <div class="row">
            <h3 class="text-muted mb-4">Datos del Responsable</h3>
            <div class="col-4">
                <label>Nombre:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.NombreResponsable" />
            </div>
            <div class="col-4">
                <label>Dirección:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.DireccionResponsable" />
            </div>
            <div class="col-4">
                <label>Documento:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.DocumentoResponsable" />
            </div>
            <div class="col-4">
                <label>Teléfono:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.TelefonoResponsable" />
            </div>
        </div>
    </div>

    <!-- Datos del Aval -->
    <div class="container">
        <div class="row">
            <h3 class="text-muted mb-4">Datos del Aval</h3>
            <div class="col-4">
                <label>Aval 1:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Aval1" />
            </div>
            <div class="col-4">
                <label>Aval 2:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Aval2" />
            </div>
            <div class="col-4">
                <label>Aval 3:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Aval3" />
            </div>
        </div>
    </div>

    <!-- Otros Datos -->
    <div class="container">
        <div class="row">
            <h4 class="text-muted mb-4">Otros Datos</h4>
            <div class="col-4">
                <label>Documento Asociado:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.DocumentoAsociado" />
            </div>
            <div class="col-4">
                <label>Siniestro:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Siniestro" />
            </div>
            <div class="col-4">
                <label>Referencia 1:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Referencia1" />
            </div>
            <div class="col-4">
                <label>Referencia 2:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Referencia2" />
            </div>
            <div class="col-4">
                <label>Placa No:</label>
                <InputText class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.PlacaNo" />
            </div>
            <div class="col-4">
                <label>Observaciones:</label>
                <InputTextArea class="form-control border-0 border-bottom" @bind-Value="registroPacienteService.CurrentRegistro.Observaciones" />
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg px-5" @onclick="GuardarYContinuar">Guardar</button>
    </div>
</EditForm>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (registroPacienteService.CurrentRegistro == null)
        {
            registroPacienteService.CurrentRegistro = new RegistroPaciente();
        }
    }

    private async Task GuardarYContinuar()
    {
        await registroPacienteService.SaveRegistroAsync();
    }
}
