<div class="top-row ps-3 navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">Login Clinica</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-dark text-white p-3 sidebar" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white d-flex align-items-center" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2" aria-hidden="true"></span>
                <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white d-flex align-items-center" href="\registro-paciente">
                <span class="bi bi-plus-square-fill me-2" aria-hidden="true"></span>
                <span>Registro Hospitalización</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white d-flex align-items-center" href="\adminusers">
                <span class="bi bi-plus-square-fill me-2" aria-hidden="true"></span>
                <span>Administrar Usuarios</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white d-flex align-items-center" href="\historial-clinico">
                <span class="bi bi-plus-square-fill me-2" aria-hidden="true"></span>
                <span>Historial de Paciente</span>
            </NavLink>
        </div>

    </nav>
</div>

<style>
    .sidebar {
        width: 250px;
        transition: width 0.3s ease-in-out;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
    }

    .navbar-toggler {
        border: none;
        background-color: transparent;
    }

    .nav-link {
        font-size: 1rem;
        padding: 0.5rem;
        transition: background-color 0.3s ease-in-out;
        width: 100%;
        white-space: normal; /* Arregla el boton de hospitalizacion*/
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
        }

    .nav-item {
        margin-bottom: 0.5rem;
    }

    .nav-scrollable {
        padding-top: 60px; /* Deja espacio para la navbar */
    }

    .navbar-brand {
        font-weight: bold;
        font-size: 1.25rem;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapsed" : "expanded";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
